body {
    font-family: sans-serif;
    background-color: #f4f7f9;
    color: #334155;
    background-image: url('#{resource["images:rastyapa.jpg"]}');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

header {
    font-family: serif;
    font-size: medium;
    color: #334155;
    text-align: center;
}

.container {
    max-width: 2400px;
    margin: 20px auto;
    padding: 20px;
}

.top-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.block {
    flex: 1;
    padding: 25px;
}

div > .block {
    background-color: #FFFFFF;
    border-radius: 30px;
    border: 1px solid #e2e8f0;
}

svg {
    max-width: 700px;
    max-height: 700px;
    display: block;
    margin: 0 auto;
}

.top-row > .block:first-child {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.button-panel {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.ui-button {
    padding: 5px 5px;
    height: 50px;
    background-color: #6A8EE1;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
}

.ui-button:hover {
    background-color: #587dcf;
}

.button-panel .ui-button {
    flex: 1;
    margin-top: auto;
}

.r-buttons .ui-button {
    height: 50px;
    width: 50px;
    margin: 5px;
    border: 1px solid;
    text-align: center;
}

.r-buttons .ui-button.active-button {
    background: #0B3D91;
    border-color: #0B3D91;
}

.r-buttons .ui-button.active-button:hover {
    background: #09347a;
    border-color: #09347a;
}

.ui-datatable table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    border-spacing: 0;
}

.ui-datatable .ui-datatable-thead th,
.ui-datatable .ui-datatable-tbody td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: center;
}

.table-block {
    height: 500px;
    overflow-y: auto;
}

.navigation-button {
    width: 100%;
}

.input-elements {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.y-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.y-text {
    max-width: 250px;
}

.dialog {
    width: 1200px !important;
}

.dialog-panel {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.save {
    flex: 1;
}

.cancel {
    flex: 1
}